body, html {
    font-family: 'Roboto', sans-serif;
    border: 0px;
    padding: 0px;
    margin: 0px;

}

header {
    display: block;
    width: 100vw;
    background-color: black;
    color: white;
    padding: 20px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    
}

ul li a:hover {
    color: rgb(248, 246, 137);
}
h1 {
    margin: 0px;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-between;

}

section.banner {
    height: 700px;
    background: url('assets/theater-image-background.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.banner h2 {
    font-family: 'salsa';
    margin: 0px;
    color: white;
    font-size: 100px;
    
}

.banner .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main {
    margin: 100px 0px;
}

span.label {
    display: block;
    border: 1px solid black;
    background-color: rgba(128, 128, 128, 0.171);
    padding: 5px 0px 5px 30px; 
    margin: 30px 0px;
    font-weight: bold; 
}

.shows .show {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 25px;
    border-bottom: 1px solid grey;
}

.shows .show-info {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.shows .show img {
    width: 200px;
}

.shows .show-info span {
    margin: 15px 0px;
}

.button {
    background-color: rgb(243, 160, 5);
    color: white;
    padding: 20px;
    border: 1px solid rgb(184, 104, 1);
    font-size: larger;
}

footer {
    display: flex;
    justify-content: space-evenly;
    width: 100wv;
    background-color: black;
    padding: 50px;
    
}

footer .col span {
    display: block;
    margin: 10px 0px;
}

.col {
    display: block;
    color: white;
    justify-content: space-evenly;

}

.col .foot-location {
    margin: 30px 0px;
}

.map {
    width: 400px;
}
